.form{
    display: flex;
    padding:10px;
}
.form input{
    font-size:15px;
    border:1px solid #ccc;
    line-height: 2.5; 
    flex:1;   
    /* 형제들을 제외한 사이즈를 전부 차지 */
}
.addButton{
    background-color:royalblue;
    border:0;
    color:white;
    padding:0 20px;
    margin-left: 10px;
}